In [0]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import accuracy_score

In [0]:
from google.colab import files
uploaded = files.upload()

Saving hw2_question3.csv to hw2_question3 (1).csv

In [0]:
from __future__ import print_function
# Import the dataset
dataset = pd.read_csv('hw2_question3.csv', header=None)
full_dataset = dataset.iloc[:, :].values

total_samples = len(dataset)

print('Total number of samples is {}'.format(total_samples))
print('Input shape is {}'.format(dataset.shape))

Total number of samples is 11055
Input shape is (11055, 31)

In [0]:
# https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
columns_to_hot_encode = [1, 6, 7, 13, 14, 15, 25, 28]

for col in columns_to_hot_encode:
    dataset[str(col)+'_neg'] = np.where(dataset[col] == -1, 1, 0)
    dataset[str(col)+'_zero'] = np.where(dataset[col] == 0, 1, 0)
    dataset[str(col)+'_pos'] = np.where(dataset[col] == 1, 1, 0)

dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,14_pos,15_neg,15_zero,15_pos,25_neg,25_zero,25_pos,28_neg,28_zero,28_pos
0,-1,1,1,1,-1,-1,-1,-1,-1,1,...,1,1,0,0,1,0,0,0,0,1
1,1,1,1,1,1,-1,0,1,-1,1,...,0,1,0,0,0,1,0,0,0,1
2,1,0,1,1,1,-1,-1,-1,-1,1,...,0,1,0,0,0,0,1,0,1,0
3,1,0,1,1,1,-1,-1,-1,1,1,...,0,1,0,0,0,0,1,1,0,0
4,1,0,-1,1,1,-1,1,1,-1,1,...,0,1,0,0,0,1,0,0,0,1

In [0]:
dataset = dataset.drop(columns=[1, 6, 7, 13, 14, 15, 25, 28])
dataset.head(5)

,0,2,3,4,5,8,9,10,11,12,...,14_pos,15_neg,15_zero,15_pos,25_neg,25_zero,25_pos,28_neg,28_zero,28_pos
0,-1,1,1,-1,-1,-1,1,1,-1,1,...,1,1,0,0,1,0,0,0,0,1
1,1,1,1,1,-1,-1,1,1,-1,1,...,0,1,0,0,0,1,0,0,0,1
2,1,1,1,1,-1,-1,1,1,-1,1,...,0,1,0,0,0,0,1,0,1,0
3,1,1,1,1,-1,1,1,1,-1,-1,...,0,1,0,0,0,0,1,1,0,0
4,1,-1,1,1,-1,-1,1,1,1,1,...,0,1,0,0,0,1,0,0,0,1

In [0]:
# move the target at the end
df1 = dataset.pop(30)
dataset[30] = df1
dataset.head(5)

,0,2,3,4,5,8,9,10,11,12,...,15_neg,15_zero,15_pos,25_neg,25_zero,25_pos,28_neg,28_zero,28_pos,30
0,-1,1,1,-1,-1,-1,1,1,-1,1,...,1,0,0,1,0,0,0,0,1,-1
1,1,1,1,1,-1,-1,1,1,-1,1,...,1,0,0,0,1,0,0,0,1,-1
2,1,1,1,1,-1,-1,1,1,-1,1,...,1,0,0,0,0,1,0,1,0,-1
3,1,1,1,1,-1,1,1,1,-1,-1,...,1,0,0,0,0,1,1,0,0,-1
4,1,-1,1,1,-1,-1,1,1,1,1,...,1,0,0,0,1,0,0,0,1,1

In [0]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html
# shuffle the samples
dataset = dataset.sample(frac=1, random_state=9728).reset_index(drop=True)
dataset.head(5)

,0,2,3,4,5,8,9,10,11,12,...,15_neg,15_zero,15_pos,25_neg,25_zero,25_pos,28_neg,28_zero,28_pos,30
0,1,1,1,1,-1,-1,-1,-1,1,1,...,1,0,0,0,0,1,0,0,1,1
1,1,1,1,1,-1,-1,1,1,1,1,...,1,0,0,1,0,0,0,1,0,1
2,-1,1,-1,1,-1,-1,-1,-1,1,1,...,0,0,1,0,0,1,0,0,1,1
3,1,1,1,1,-1,-1,1,1,1,1,...,0,0,1,0,0,1,0,1,0,1
4,1,1,-1,1,-1,-1,1,1,1,1,...,0,1,0,1,0,0,0,1,0,-1

In [0]:
# divide the sammples

total_train_samples = (int)((2/3)*total_samples)
total_test_samples = total_samples - total_train_samples

print('Total number of training samples is {}'.format(total_train_samples))
print('Total number of test samples is {}'.format(total_test_samples))

training_set = dataset.head(total_train_samples)
test_set = dataset.tail(total_test_samples)

Total number of training samples is 7370
Total number of test samples is 3685

In [0]:
# SVM starts here
training_set_data = training_set.iloc[:, :].values
X = training_set_data[:, :-1]
y = training_set_data[:, 46]

test_set_data = test_set.iloc[:, :].values
X_test = test_set_data[:, :-1]
y_test = test_set_data[:, 46]

In [0]:
solution_outside = []

In [0]:
import cvxopt
import cvxopt.solvers

# http://members.cbio.mines-paristech.fr/~thocking/mines-course/2011-04-01-svm/svm-qp.pdf
# https://xavierbourretsicotte.github.io/SVM_implementation.html
# https://courses.csail.mit.edu/6.867/wiki/images/e/ef/Qp-quadprog.pdf
# http://members.cbio.mines-paristech.fr/~thocking/mines-course/2011-04-01-svm/svm-qp.pdf
# https://stackoverflow.com/questions/15527622/how-to-implement-a-soft-margin-svm-model-using-matlabs-quadprog
# https://stats.stackexchange.com/questions/181305/large-margin-classifier-with-cvxopt
# https://static1.squarespace.com/static/58851af9ebbd1a30e98fb283/t/58902fbae4fcb5398aeb7505/1485844411772/SVM+Explained.pdf
# (MAIN) https://xavierbourretsicotte.github.io/SVM_implementation.html

class SVM(object):

    def __init__(self, C=1.0):
        self.C = float(C)
        
    def fit(self, X, y):
        global solution_outside
        X = np.array(X, dtype=float)
        y = np.array(y, dtype=float)
        print('X is ', X.shape)
        n_samples, n_features = X.shape
        print('y is ',y.shape)
        y_reshaped = y.reshape(-1,1)
        print('y reshaped is ', y_reshaped.shape)
        X_dash = X * y_reshaped 
        H = np.dot(X_dash, X_dash.T)
        q = np.ones(n_samples) * -1.0
        G = np.eye(n_samples) * -1.0
        G = np.vstack((G,np.eye(n_samples)))
        h = np.zeros(n_samples)
        h = np.hstack((h, np.ones(n_samples) * self.C))
        A = y_reshaped.T
        print('A shape is ', A.shape)
        b = np.zeros(1)
        ##############################################
        # solve QP problem
        P = cvxopt.matrix(H)
        q = cvxopt.matrix(q)
        G = cvxopt.matrix(G)
        h = cvxopt.matrix(h)
        A = cvxopt.matrix(A)
        b = cvxopt.matrix(b)

        solution = cvxopt.solvers.qp(P, q, G, h, A, b)
        solution_outside = solution
        #solution = solution_outside
        # Lagrange multipliers
        alphas = np.array(solution['x'])
        print('alphas shape is ', alphas.shape)
        # Support vectors have non zero lagrange multipliers
        sv = (alphas > 1e-4).flatten()
        ind = np.where(alphas > 1e-4)[0]
        self.ind = ind
        self.alphas = alphas[ind]
        self.sv = X[ind]
        self.sv_y = y[ind]
        print("%d support vectors out of %d points" % (len(self.alphas), n_samples))
        
        #==================Computing and printing parameters===============================#
        self.w = ((y_reshaped * alphas).T @ X).reshape(-1,1)
        print('W shape is ', self.w.shape)
        print('W is ', self.w)
        
        self.b = 0
        for n in range(len(self.alphas)):
            self.b += self.sv_y[n]
            self.b -= np.dot(self.sv[n],self.w)
        self.b /= len(self.alphas)

        print('value of b is ', self.b)
        print('indices are ', ind)        
        
    def predict(self, X):
        preds = []
        for sample in X:
            prediction = np.sign(np.dot(sample, self.w) + self.b)
            preds.append(prediction)
        return preds

In [0]:
import time
svm_classifier = SVM(C=2.0)

start = time.time()
svm_classifier.fit(X, y)
end = time.time()

print('Time for training : ', end - start)

X is  (7370, 46)
y is  (7370,)
y reshaped is  (7370, 1)
A shape is  (1, 7370)
     pcost       dcost       gap    pres   dres
 0: -2.6464e+03 -3.8820e+04  1e+05  2e+00  2e-12
 1: -2.0780e+03 -1.8676e+04  3e+04  2e-01  1e-12
 2: -1.8213e+03 -7.9582e+03  9e+03  7e-02  1e-12
 3: -1.7732e+03 -6.1830e+03  6e+03  4e-02  1e-12
 4: -1.7729e+03 -4.6906e+03  4e+03  3e-02  1e-12
 5: -1.7668e+03 -4.3962e+03  4e+03  2e-02  1e-12
 6: -1.7796e+03 -3.9147e+03  3e+03  2e-02  1e-12
 7: -1.8007e+03 -3.5266e+03  2e+03  1e-02  1e-12
 8: -1.8002e+03 -3.3244e+03  2e+03  8e-03  1e-12
 9: -1.8408e+03 -2.8547e+03  1e+03  4e-03  1e-12
10: -1.8718e+03 -2.7028e+03  9e+02  3e-03  1e-12
11: -1.9134e+03 -2.4968e+03  6e+02  1e-03  1e-12
12: -1.9415e+03 -2.3905e+03  5e+02  9e-04  1e-12
13: -1.9517e+03 -2.3544e+03  4e+02  7e-04  1e-12
14: -1.9620e+03 -2.2492e+03  3e+02  3e-05  2e-12
15: -1.9876e+03 -2.2013e+03  2e+02  2e-05  1e-12
16: -2.0052e+03 -2.1665e+03  2e+02  8e-06  1e-12
17: -2.0185e+03 -2.1436e+03  1e+02  5e-06  1e-12
18: -2.0329e+03 -2.1196e+03  9e+01  2e-06  1e-12
19: -2.0375e+03 -2.1106e+03  7e+01  9e-07  1e-12
20: -2.0514e+03 -2.0926e+03  4e+01  4e-07  1e-12
21: -2.0566e+03 -2.0847e+03  3e+01  1e-07  1e-12
22: -2.0613e+03 -2.0789e+03  2e+01  5e-08  1e-12
23: -2.0645e+03 -2.0750e+03  1e+01  1e-08  1e-12
24: -2.0671e+03 -2.0721e+03  5e+00  8e-14  2e-12
25: -2.0685e+03 -2.0706e+03  2e+00  4e-14  2e-12
26: -2.0692e+03 -2.0699e+03  7e-01  7e-14  2e-12
27: -2.0694e+03 -2.0696e+03  2e-01  1e-13  2e-12
28: -2.0695e+03 -2.0696e+03  8e-02  2e-13  2e-12
29: -2.0695e+03 -2.0695e+03  4e-03  6e-14  2e-12
30: -2.0695e+03 -2.0695e+03  5e-05  2e-14  2e-12
Optimal solution found.
alphas shape is  (7370, 1)
1074 support vectors out of 7370 points
W shape is  (46, 1)
W is  [[ 5.22657118e-01]
 [-5.42486462e-01]
 [ 1.66764475e-01]
 [-1.04445975e-02]
 [ 1.82311828e+00]
 [-9.95704005e-02]
 [-4.03384413e-02]
 [ 2.34222674e-01]
 [-2.71839585e-01]
 [ 1.88068735e-01]
 [-1.30967270e-01]
 [-1.57662234e-01]
 [-8.04498779e-01]
 [-1.37672298e-02]
 [-9.78205126e-02]
 [-4.03398426e-02]
 [ 4.82478359e-03]
 [ 3.69049878e-10]
 [ 4.65970425e-01]
 [ 6.63362637e-02]
 [ 4.27981502e-01]
 [ 1.06330528e-01]
 [ 3.63594630e-02]
 [-1.80171910e-01]
 [ 1.43812447e-01]
 [-2.89715698e-01]
 [-2.26552135e-01]
 [ 5.16267833e-01]
 [-2.55029901e-01]
 [-1.57832335e+00]
 [ 1.83335325e+00]
 [-2.10747597e+00]
 [ 5.91054661e-01]
 [ 1.51642131e+00]
 [-5.38865940e-01]
 [ 3.99790136e-01]
 [ 1.39075804e-01]
 [-5.46094122e-01]
 [ 3.96962370e-01]
 [ 1.49131752e-01]
 [ 1.28519218e-01]
 [-5.79431596e-01]
 [ 4.50912379e-01]
 [-1.53880090e-01]
 [-3.91990584e-01]
 [ 5.45870674e-01]]
value of b is  [0.80323621]
indices are  [   4   18   24 ... 7353 7364 7366]
Time for training :  1101.7354488372803

In [0]:
y_pred = svm_classifier.predict(X_test)

print(accuracy_score(y_test, y_pred))

0.93921302578019